body {
	font-family: "Avenir Next","Helvetica";
}

.bold {
	font-weight: 600;
	color: #3f3f3f;
}

.content {
	padding-top: 4em;
	font-size: 1.2em;
}

.content-container {
	max-width: 30em;
	margin: 0 auto;
}